@font-face {
  font-family: 'DarkFalcon';
  src: url('fonts/DarkFalconRegular.eot');
  src: url('fonts/DarkFalconRegular.woff');
  src: url('fonts/DarkFalconRegular.ttf') format('truetype');   /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

.v-main {
  background: #fff;
}

a {
    text-decoration: none;
}

.video-container {
    position: relative;
    padding-bottom: 46.25%; /* ratio 16/9 */
    height: 0;
    overflow: hidden;
    clear: both;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

[v-cloak] {
  display: none;
}

.falcon-4-pk {
    font-family:  "DarkFalcon";
    font-size: 4em;
    color: #ff0374;
}

.falcon-3-pk {
    font-family:  "DarkFalcon";
    font-size: 3em;
    color: #ff0374;
}

.falcon-2-pk {
    font-family:  "DarkFalcon";
    font-size: 2em;
    color: #ff0374;
}

.falcon-1-5-pk {
    font-family:  "DarkFalcon";
    font-size: 1.5em;
    color: #ff0374;
}

.falcon-1-pk {
    font-family:  "DarkFalcon";
    font-size: 1em;
    color: #ff0374;
}

.falcon-3-bk {
    font-family:  "DarkFalcon";
    font-size: 3em;
    color: black;
}

.falcon-2-bk {
    font-family:  "DarkFalcon";
    font-size: 2em;
}

.falcon-2 {
    font-family:  "DarkFalcon";
    font-size: 3em;
}

.falcon-2 {
    font-family:  "DarkFalcon";
    font-size: 2em;
}

.falcon-1 {
    font-family:  "DarkFalcon";
    font-size: 1em;
}



.theme--light.v-divider {
    border-color: rgba(0,0,0,1.0) !important;
}


.video-responsive {
    overflow:hidden;
    /* 16:9 aspect ratio */
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.iframe-container {
    overflow: hidden;
    padding-top: 180%;
    position: relative;
    height: 0;
}

.iframe-container iframe {
    display: block;
    left: 0;
    top: 0;
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.pink-title {
    color: #ff0374;
}