<!DOCTYPE html>
<html>
<head>
  <title>Katchakine - Previews</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
  <link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
  <link rel="shortcut icon" href="assets/img/favicon.ico">
  <link href="css/app.css" rel="stylesheet">
</head>
<body>
<div id="app">
 <div v-cloak>
  <v-app>
    <v-main
      dark
    >

      <v-sheet
        id="previews"
        color="#333333"
        dark
        tag="section"
        tile
      >
        <div class="py-6"></div>

        <v-container class="text-center">
          <span
            :class="[$vuetify.breakpoint.smAndDown ? 'falcon-2-pk': 'falcon-3-pk']"                    >
            Katchakine previews
          </span>
          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1 white"></v-divider>
            <v-divider class="mb-1 white"></v-divider>
          </v-responsive>

            <h2 class="display-1 font-weight-bold mb-3 text-center">Le Diable au Corps (preview)</h2>
            <v-row>
              <v-col
                class="mx-auto"
                cols="auto"
              >

              <div class="py-3"></div>

              <audio controls src="https://sly.parisson.com/projects/Katchakine/Le%20diable%20au%20corps/Le%20diable%20au%20corps/exported/Katchakine%20-%20Le%20Diable%20au%20Corps%20-%202023-02-16%201306.flac"></audio>

              <div class="py-12"></div>

            <h2 class="display-1 font-weight-bold mb-3 text-center">La Goutte (preview)</h2>
            <v-row>
              <v-col
                class="mx-auto"
                cols="auto"
              >

              <div class="py-3"></div>

              <audio controls src="https://sly.parisson.com/projects/Katchakine/La%20goutte/La%20Goutte%20-%20mix/exported/La%20Goutte%20-%20mix%202023-03-27%202243.flac"></audio>

              <div class="py-12"></div>

              <v-btn
                color="pink"
                large
                href="index.html"
                class='text-lowercase'
              >
                < retour au site officiel
              </v-btn>

              </v-col>
            </v-row>
        </v-container>

        <div class="py-6"></div>

      </v-sheet>


      <v-sheet
        id="blank"
        color="#333333"
        dark
        tag="section"
        tile
      >
        <v-container class="text-center">
          <div class="py-32"></div>
        </v-container>
      </v-sheet>

    </v-main>

    <v-footer
      class="justify-center"
      color="#292929"
      height="250"
    >
      <div class="title font-weight-light grey--text text--lighten-1 text-center">
        <h5>&copy; {{ (new Date()).getFullYear() }} — Katchakine</h5>
        <h6>Web design : John Leider & Guy Om</h6>
        <h6>Photos : Guy Om</h6>
        <br>

                      <div>
             <v-btn
                class="align-self-end"
                color="white"
                fab
                outlined
                href="https://www.instagram.com/katchakine/"
                >
                <v-icon
                  large
                  color="purple"
                >
                  mdi-instagram
                </v-icon>
              </v-btn>
              &nbsp;
              <v-btn
                class="align-self-end"
                color="white"
                fab
                outlined
                href="https://katchakine.bandcamp.com"
                >
                <v-icon
                  large
                  color="blue darken-1"
                >
                  mdi-bandcamp
                </v-icon>
              </v-btn>
              &nbsp;
              <v-btn
                class="align-self-end"
                color="white"
                fab
                outlined
                href="https://www.youtube.com/@katchakineroyal6940/featured"
                >
                <v-icon
                  large
                  color="red"
                >
                  mdi-youtube
                </v-icon>
              </v-btn>
              &nbsp;
              <v-btn
                class="align-self-end"
                color="white"
                fab
                outlined
                href="https://www.facebook.com/katchakineracar/"

                >
                <v-icon
                  large
                  color="blue darken-2"
                >
                  mdi-facebook
                </v-icon>
              </v-btn>
              &nbsp;
              </v-btn>
              <v-btn
                class="align-self-end"
                color="white"
                fab
                outlined
                href="https://soundcloud.com/katchakine"
                >
                <v-icon
                  large
                  color="orange"
                >
                  mdi-soundcloud
                </v-icon>
              </v-btn>
              &nbsp;

              <br><br>
          </div>

      </div>
    </v-footer>

  </v-app>
 </div>
</div>

 <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.min.js"></script>
 <script src="https://unpkg.com/vue-masonry@0.11.3/dist/vue-masonry-plugin-window.js"></script>
 <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
 <script src="js/app.js?v=1.2"></script>
<!--  <script data-goatcounter="https://lsg.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
 --></body>
</html>
